{%  extends "webapp/header.html" %}
{% block content %}
    <div class="jumbotron">
        {% if not user.username %}
      <h1 class="display-4">Your doorway to inspiration.</h1>
      <p class="lead">Say hello to WriterBot, a friendly AI here to help you get over your writer's block!</p>
      <hr class="my-4">
      <p>Start writing your AI-assisted story here.</p>
      <a class="btn btn-primary btn-lg" href="/write" role="button">Get started</a>
      {% else %}
            <h1 class="display-4">Welcome back, {{ user.first_name }}!</h1>
            <p class="lead">Continue your creative journey with WriterBot.</p>
            {% if stories %}
                <hr class="my-4">
                <p>Your current stories:</p>
{#                {% for story in stories %}#}
{#                    <div class="card">#}
{#                        <div class="card-body">#}
{#                            {% if story.title %}#}
{#                                <h5 class="card-title">{{ story.title }}</h5>#}
{#                            {% else %}#}
{#                                <h5 class="card-title">Untitled</h5>#}
{#                            {% endif %}#}
{#                            <a href="/load_story/{{ story.id }}" class="btn btn-primary">Continue this story</a>#}
{#                            <a href="/delete_story/{{ story.id }}" class="confirm-delete" title= "Delete" data-toggle="modal" data-target= "#confirmDeleteModal" id= "deleteButton{{story.id}}">#}
{#                                <i class="fa fa-trash fa-2x" style= "float: right; color: red;"></i> </a>#}
{#                          </div>#}
{#                    </div>#}
{#                {% endfor %}#}
                <div class="list-group">
                {% for story in stories %}
{#                  <a href="/load_story/{{ story.id }}" class="list-group-item list-group-item-action">#}
{#                    <div class="d-flex w-100 justify-content-between">#}
{#                      <h5 class="mb-1">{{ story.title }}</h5>#}
{#                      <small>{{ story.created }}</small>#}
{#                        <button class="btn btn-xs btn-primary" onclick="alert('Action2 -> Play'); event.stopPropagation();">O</button>#}
{#                    </div>#}
{#                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>#}
{#                    <small>Donec id elit non mi porta.</small>#}
{#                  </a>#}

                    <a class="list-group-item list-group-item-action" href="/load_story/{{ story.id }}">
                        <div class="d-flex w-100 justify-content-between">
                            <div class="align-self-center"><h5>{{ story.title }}</h5></div>
                            <span>
                                <small>{{ story.created }}</small>
                                <span class="pull-right" onclick="return false;">
                                    <span class="btn-group" role="group" aria-label="...">
                                     <span class="btn btn-xs" data-toggle="modal" data-target= "#confirmDeleteModal{{story.id}}" id= "deleteButton{{story.id}}">
                                            <i class="fa fa-trash fa-2x" style= "float: right; color: red;"></i>
                                    </span>
                                    </span>
                                </span>
                            </span>
                        </div>
                    </a>

                    <div class="modal fade" id="confirmDeleteModal{{story.id}}" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel{{story.id}}" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-body confirm-delete">
                            Are you sure you want to permanently delete this story?
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <a href="/delete_story/{{ story.id }}" class="confirm-delete btn" title= "Delete">Delete</a>
                          </div>
                        </div>
                      </div>
                    </div>
                {% endfor %}
                </div>
            {% endif %}
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="/new_story" role="button">Start a New Story</a>
        {% endif %}


    </div>

{% endblock %}
