{%  extends "webapp/header.html" %}
{% block content %}
    <div class="jumbotron">
        {% if not user.username %}
          <h1 class="display-4">Your doorway to inspiration.</h1>
          <p class="lead">Say hello to WriterBot, a friendly AI here to help you get over your writer's block!</p>
          <hr class="my-4">
        {% if stories %}
              <p>Continue writing your AI-assisted story here.</p>
              <a class="btn btn-primary btn-lg" href="/write" role="button">Keep writing</a>
        {% else %}
              <p>Start writing your AI-assisted story here.</p>
              <a class="btn btn-primary btn-lg" href="/write" role="button">Get started</a>
        {% endif %}
      {% else %}
            <h1 class="display-4">Welcome back, {{ user.first_name }}!</h1>
            <p class="lead">Continue your creative journey with WriterBot.</p>
            {% if stories %}
                <hr class="my-4">
                <p>Your current stories:</p>
                <div class="list-group">
                {% for story in stories %}
                    <a class="list-group-item list-group-item-action" href="/load_story/{{ story.id }}">
                        <div class="d-flex w-100 justify-content-between">
                                <span class="btn-group" style="align-self:center">
                                    <i class="fas fa-file new-file-icon fa-1.5x" style="color:#007bff"></i>&emsp;{{ story.title }}</span>
                            <span>
                                <small><span class="text-muted">Last edited:</span> {{ story.last_edited.date }}</small>
                                <span class="pull-right" onclick="return false;">
                                    <span class="btn-group" role="group" aria-label="...">
                                     <span class="btn btn-xs" data-toggle="modal" data-target= "#confirmDeleteModal{{story.id}}" id= "deleteButton{{story.id}}">
                                            <i class="fa fa-trash fa-1.5x" style= "float: right; color: red;"></i>
                                    </span>
                                    </span>
                                </span>
                            </span>
                        </div>
                    </a>

                    <div class="modal fade" id="confirmDeleteModal{{story.id}}" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel{{story.id}}" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-body confirm-delete">
                            Are you sure you want to permanently delete this story?
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <a href="/delete_story/{{ story.id }}" class="confirm-delete btn btn-danger" title= "Delete">Delete</a>
                          </div>
                        </div>
                      </div>
                    </div>
                {% endfor %}
                </div>
            {% endif %}
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="/new_story" role="button">Start a New Story</a>
        {% endif %}


    </div>

{% endblock %}
