{%  extends "webapp/header.html" %}

{% block content %}
    {% for story in stories %}
    <div class="card">
    <div class="card-header">
        {{story.title}}
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>{{ story.sentences|linebreaks }}</p>
            <!-- we will eventually be passing author names here vv -->
            <footer class="blockquote-footer">Anonymous</footer>
        </blockquote>
    </div>
    </div>
    {% endfor %}
{% endblock %}
