{%  extends "webapp/header.html" %}

{% block content %}
<form method="post" id="side-form" xmlns="http://www.w3.org/1999/html">
    {% csrf_token %}
<div class="sidenav">
    {% if request.user.username %}
        <button class="side-btn" type="submit" data-toggle="tooltip" data-placement="right" title="Home"
            value="true" name="home" id="side-home">
            <i class="fas fa-home"></i></button>
        <button class="side-btn" type="submit" data-toggle="tooltip" data-placement="right" title="New story"
            value="true" name="new" id="side-new">
            <i class="fas fa-plus"></i>
        </button>
        <button class="side-btn" type="submit" data-toggle="tooltip" data-placement="right" title="Export Story"
            value="true" name="export" id="side-export">
            <i class="fas fa-file-export"></i>
        </button>
    {% else %}
        <span data-toggle="modal" data-target="#newStoryModal" data-target="#id">
            <button class="side-btn" type="button" data-toggle="tooltip" data-placement="right" title="New story"
                value="true" name="side-new" id="side-new">
                <i class="fas fa-plus"></i>
            </button>
        </span>
    {% endif %}
    <!-- <button class="side-btn" type="submit" data-toggle="tooltip" data-placement="right" title="AI"
        value="true" name="side-toggle" id="side-toggle">
        {% if AI %}
            <i id="side-toggle-icon" class="fas fa-power-off glow"></i>
        {% else %}
            <i id="side-toggle-icon" class="fas fa-power-off"></i>
        {% endif %}
        </button> -->
    <span data-toggle="modal" data-target="#settingsModal" data-target="#id">
        <button class="side-btn" type="button" data-toggle="tooltip" data-placement="right" title="Settings"
            value="true" name="side-settings" id="side-settings">
            <i class="fas fa-cog"></i></button>
    </span>
</div>
</form>
<div class="main">
    <form method="post" id="title-form">
            {% csrf_token %}
        <input id="title-input" type="text" name="title" placeholder="Untitled story" value="{{ title }}" class="mt-5"></form>
    <hr class="my-2">
    <h5>Prompt: {{ prompt }}</h5>
        {% if sentences %}
        <!-- <p id = "para" style="padding:1px" contenteditable="{{ contentEdit }}"> -->
            <p>
            {% for sentence in sentences %}
                {% if forloop.counter|divisibleby:2 %}
                    <span class="suggestion-sentence">{{ sentence }}</span>
                {% else %}
                    {{ sentence }}
                {% endif %}<br>
            {% endfor %}
            </p>
            <form method="post" id="input-form">
                {% csrf_token %}
                <textarea name="text" class="form-control {% if suggestion %} suggestion-sentence {% endif %}" autofocus>{{ suggestion }}</textarea><br>
                <button type="submit" class="btn btn-primary btn-lg">Add {% if suggestion %} Suggestion {% else %} Sentence {% endif %}</button>
            </form><br>
        {% else %}
            <br>
            <form method="post" id="input-form">
                {% csrf_token %}
                <textarea name="text" class="form-control" placeholder="Start writing here"></textarea><br>
                <button type="submit" class="btn btn-primary btn-lg">Add Sentence</button>
            </form><br>
        {% endif %}


        <div class="modal fade" id="newStoryModal" tabindex="-1" role="dialog" aria-labelledby="newStoryModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="newStoryModalLabel">New Story</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              <div class="modal-body">
                  Your current story has not been saved. Are you sure you want to discard it and start a new story?
              </div>
              <form method="post">
                  {% csrf_token %}
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-danger final" type="submit" title="New story"
                        value="true" name="new">Yes</button>
                  </div>
              </form>
            </div>
          </div>
        </div>

        <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="settingsModalLabel">Settings</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              <form method="post">
                  {% csrf_token %}
                  <div class="modal-body">
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="mode" id="rnn_mode" onclick="settingsCard(1)" value="rnn_mode" {% if mode == 1 %} checked {% endif %}>
                          <label class="form-check-label" for="rnn_mode">RNN</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="mode" id="ngram_mode" onclick="settingsCard(2)" value="ngram_mode" {% if mode == 2 %} checked {% endif %}>
                          <label class="form-check-label" for="ngram_mode">N-Gram</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="mode" id="none_mode" onclick="settingsCard(3)" value="none_mode" {% if mode == 3 %} checked {% endif %}>
                          <label class="form-check-label" for="none_mode">No suggestions</label>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 id="save-info-card-title" class="card-title"></h5>
                                <p class="card-text" id="save-info-card-content" ></p>
                            </div>
                        </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-success final" type="submit" value="true" name="apply">Save</button>
                  </div>
              </form>
            </div>
          </div>
        </div>
    {% load staticfiles %}
    <!-- data-filter="#title-form, #title-form *" -->
    <script src="{% static 'js/stretchy.min.js' %}" async></script>
{#    https://leaverou.github.io/stretchy/#}
{% endblock %}
