{%  extends "webapp/header.html" %}

{% block content %}
<form method="post" id="side-form" xmlns="http://www.w3.org/1999/html">
    {% csrf_token %}
<div class="sidenav">
    {% if request.user.username %}
        <button class="side-btn" type="submit" data-toggle="tooltip" data-placement="right" title="Home"
            value="true" name="home" id="side-home">
            <i class="fas fa-home"></i></button>
        <button class="side-btn" type="submit" data-toggle="tooltip" data-placement="right" title="New story"
            value="true" name="new" id="side-new">
            <i class="fas fa-plus"></i>
        </button>
    {% else %}
        <span data-toggle="modal" data-target="#newStoryModal" data-target="#id">
            <button class="side-btn" type="button" data-toggle="tooltip" data-placement="right" title="New story"
                value="true" name="side-new" id="side-new">
                <i class="fas fa-plus"></i>
            </button>
        </span>
    {% endif %}
    <button class="side-btn" type="submit" data-toggle="tooltip" data-placement="right" title="Export Story"
        value="true" name="export" id="side-export">
        <i class="fas fa-file-export"></i>
    </button>
    <span data-toggle="modal" data-target="#settingsModal" data-target="#id" >
        <button class="side-btn" type="button" data-toggle="tooltip" data-placement="right" title="Settings"
            value="true" name="side-settings" id="side-settings">
            <i class="fas fa-cog"></i></button>
    </span>
</div>
</form>
<div class="main">
        <form method="post" id="title-form">
                {% csrf_token %}
            <input id="title-input" type="text" name="title" value="{{ story.title }}" class="mt-5 story-title">
        </form>
            <hr class="my-2">
        {% if story.prompt %}
        <form method="post">
            {% csrf_token %}
            <h5> Prompt: {{ story.prompt }} <button type="submit" class="btn btn-sm btn-outline-primary" name="re-prompt" id="re-prompt" value="true"><i class="fas fa-redo fa-xs"></i></button></h5>
        </form>
        {% endif %}

        {% if sentences %}
        <!-- <p id = "para" style="padding:1px" contenteditable="{{ contentEdit }}"> -->
            <p>
            {% for sentence in sentences %}
                {% if forloop.counter|divisibleby:2 %}
                    <span class="suggestion-sentence">{{ sentence }}</span>
                {% else %}
                    {{ sentence }}<br>
                {% endif %}
            {% endfor %}
            </p>
            <form method="post" id="input-form">
                {% csrf_token %}
                <textarea name="text" id="input-textarea" class="form-control {% if suggestion %} suggestion-sentence {% endif %}" autofocus>{{ suggestion }}</textarea><br>
                <button type="submit" id="input-button" class="btn {% if suggestion %} btn-success {% else %} btn-primary {% endif %} btn-lg">Add {% if suggestion %} Suggestion {% else %} Sentence {% endif %}</button>
            </form><br>
        {% else %}
            <br>
            <form method="post" id="input-form">
                {% csrf_token %}
                <textarea name="text" id="input-textarea" class="form-control" placeholder="Start writing here"></textarea><br>
                <button type="submit" id="input-button" class="btn btn-primary btn-lg">Add Sentence</button>
            </form><br>
        {% endif %}


        <div class="modal fade" id="newStoryModal" tabindex="-1" role="dialog" aria-labelledby="newStoryModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="newStoryModalLabel">New Story</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              <div class="modal-body">
                  Your current story has not been saved. Are you sure you want to discard it and start a new story?
              </div>
              <form method="post">
                  {% csrf_token %}
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-danger final" type="submit" title="New story"
                        value="true" name="new">Yes</button>
                  </div>
              </form>
            </div>
          </div>
        </div>

        <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel" aria-hidden="true" mode="{{story.mode}}">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="settingsModalLabel">Settings</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              <form id="settings-form" method="post">
                  {% csrf_token %}
                  <div class="modal-body">
                      <div class="container-fluid">
                          <div class="row">
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="prompt_mode">Suggestion algorithm:</label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {% for name, val in modes %}
                                                    <div class="form-check">
                                                      <input class="form-check-input" type="radio" name="mode" id="{{ val }}_mode" value="{{ val }}" {% if story.mode == val|stringformat:"i" %} checked {% endif %}>
                                                      <label class="form-check-label" for="{{ val }}_mode">{{name}}</label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="prompt_mode">Prompts:</label>
                                        </div>
                                        <div class="col-md-6">
                                            <select id="prompt_mode" name="prompt_mode" datatoggle="tooltip" title="source for intital story prompt">
                                                {% for name, val in prompt_modes %}
                                                  <option value="{{ val }}" {% if story.prompt_mode == val|stringformat:"i" %} selected {% endif %}>{{ name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div>
                                        {% for name, val in modes %}
                                            <h5 id="{{ val }}-settings-title" class="card-title to-hide">{{ name }}</h5>
                                            <p class="card-text to-hide" id="{{val}}-settings-content">
                                            {% if name == "RNN" %}
                                                This is about an RNN
                                            {% elif name == "SEQ2SEQ" %}
                                                This is about seq2seq
                                            {% elif name == "NGRAM" %}
                                                This is about N-Grams
                                            {% elif name == "NONE" %}
                                                This is about nothing
                                            {% else %}
                                                What is this even about?
                                            {% endif %}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary final" type="submit" value="true">Save</button>
                  </div>
              </form>
            </div>
          </div>
        </div>
    {% load staticfiles %}
    <!-- data-filter="#title-form, #title-form *" -->
    <script src="{% static 'js/stretchy.min.js' %}" async></script>
<!-- {#    https://leaverou.github.io/stretchy/#} -->
{% endblock %}
