{%  extends "webapp/header.html" %}

{% block content %}
<form method="post" id="side-form">
    {% csrf_token %}
<div class="sidenav">
<button class="side-btn"type="submit" data-toggle="tooltip" title="New story"
    value="true", name="side-new" id="side-new">
    <i class="fas fa-plus"></i></button>
<button class="side-btn"type="button"
    value="true", name="side-save"
    data-toggle="modal" data-target="#saveModal" value="true"id="side-save">
    <i class="far fa-save"></i></button>
<button class="side-btn" type="button" data-toggle="tooltip" title="Edit story"
    value="true", name="side-edit" onclick="editUpdate()" id="side-edit">
    <i class="fas fa-pencil-alt"></i></button>
<button class="side-btn"type="submit" data-toggle="tooltip" title="Load"
    value="true", name="side-open" id="side-open">
    <i class="far fa-folder-open"></i></button>
<button class="side-btn"type="submit" data-toggle="tooltip" title="Settings"
    value="true", name="side-settings" id="side-settings">
    <i class="fas fa-cog"></i></button>
<button class="side-btn"type="submit" data-toggle="tooltip" title="AI"
    value="true", name="side-toggle" id="side-toggle">
    <i class="fas fa-power-off"></i></button>
</div>
</form>
<div class="main">
        <div>
        {% if title %}
            <h5 class="mt-5" style="display:inline-block">{{ title }}</h5>
        {% else %}
            <h5 class="mt-5" style="display:inline-block">Prompt: {{ prompt }}</h5>
        {% endif %}
        <form method="post">
            {% csrf_token %}
        <button name="update" type="submit" id="edit-button" class="btn btn-outline-primary" value="true" onsubmit="editUpdate()">
             Edit <span class="oi oi-pencil"></span>

         </button>
        </form>
        </div>

        {% if not sentences %}
            <p>Start writing here: </p>
        {% endif %}

        <p id = "para" style="padding:1px" contenteditable="false">
        {% for sentence in sentences %}
            {% if not loop.last %}
                <span style="color:black">{{ sentence }}</span><br>
            {% endif %}
        {% endfor %}
        <span style="color:blue">{{ last }}</span>
    </p>

        <form method="post">
            {% csrf_token %}
            <textarea name="text" class="form-control">{{ suggestion }}</textarea><br>
            <button type="submit" class="btn btn-primary btn-lg">Add Sentence</button>
        </form><br>
        <form method="get">
            <!-- <button type="button" class="btn btn-danger btn-sm" onclick="showSaveInfo()" value="true">Save this story</button> -->
            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#saveModal" value="true">Save this story</button>
        </form>

        <!-- Modal -->
        <div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="saveModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="saveModalLabel">Save</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {% if request.user.username %}
                    Save your story as:
                    <form method="post" style="padding:1px">
                        {% csrf_token %}
                        <input type="text" name="title" placeholder="Add a title" class="form-control final" value= "{{ title }}"></input><br>
                        <button type="submit" class="btn btn-danger btn-sm final" name="save" value="true"> Save</button>
                        <button type="button" class="btn btn-danger btn-sm final" onclick="showSaveInfo()">Cancel</button>
                    </form>
                {% else %}
                    Please <a href="{% url 'social:begin' 'google-oauth2' %}">login with Google</a> to save your story.
                {% endif %}
              </div>
              <!-- <div class="modal-footer">
                  <button type="button" class="btn btn-secondary final" data-dismiss="modal">Cancel</button>
                  {% if request.user.username %}
                  <form method="post" style="padding:1px">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-primary final" name="save" value="true">Save</button>
                  </form>
                  {% endif %}
              </div> -->
            </div>
          </div>
        </div>
    </div>
{% endblock %}
