textarea {
    width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

body > .container {
  padding: 50px 15px 0;
}

.dropdown {
    list-style-type: none;
}

.sidenav {
  height: 100%;
  width: 70px;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: -40px;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 50px;
  transition: 0.3s;
  transition-delay: 1s;
}

.sidenav:hover {
    left: 0px;
    transition: 0.3s;
}

.sidenav button {
  position: absolute;
  left: -20px;
  transition: 0.3s;
  padding: 6px 8px 6px 16px;
  width: 80px;
  background-color: #111;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  border: none;
  transition-delay: 0.2s;

}

.sidenav button:hover {
  color: #f1f1f1;
  left: 0px;
  transition: 0.3s;

}

.main {
  margin-left: 160px;
  font-size: 28px;
  padding: 0px 10px;
}

nav > navbar {
    background-color: #111;
}

#side-new {
    top:60px;
}
#side-save {
    top:100px;
}
#side-edit {
    top:140px;
    color:#ba3d1d;
}
#side-open {
    top:180px;
    color:#ba3d1d;
}
#side-settings {
    top:220px;
    color:#ba3d1d;
}
#side-toggle {
    top:260px;
}
/* .side-btn {
    background-color: #111;
    color: #818181;
    display: block;
    border: none;
    margin-top: 15px;
    left: -10px;

}

.side-btn :hover {
  color: #f1f1f1;
  left: 0;
} */
i {
    font-size:x-large;
}

.glow {
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
