textarea {
    width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

body > .container {
  padding: 50px 15px 0;
}

#para {
    white-space: pre-wrap;
}

.dropdown {
    list-style-type: none;
}

.tooltip {
    pointer-events: none;
}

.tooltip .arrow {
    display: none;
}

.sidenav {
  height: 100%;
  width: 60px;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  /* transition: 0.3s;
  transition-delay: 1s; */
}

.sidenav:hover {
    left: 0px;
    /* transition: 0.3s; */
}

.sidenav button {
  /* left: -20px; */
  /* transition: 0.3s; */
  padding: 6px 8px 6px 16px;
  width: 50px;
  background-color: #111;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  border: none;
  /* transition-delay: 0.2s; */
}

.sidenav button:hover {
  color: #f1f1f1;
  /* left: 0px; */
  /* transition: 0.3s; */
}

.main {
  margin-left: 14%;
    margin-right: 7%;
  padding: 0px 10px;
}

nav > navbar {
    background-color: #111;
}


i {
    font-size:x-large;
}

.glow {
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

#title-header {
    padding-top: 50px;
}

#title-input {
    font-size: 30px;
    border-style: solid;
    border-color: white;
}

#title-input:hover {
    border-style: inset;
    border-color: initial;
}

.list-group-item {
    padding: 5px;
    padding-bottom: 3px;
    padding-left: 8px;
}

.list-group-item>.pull-right{
   cursor: default;
}

/* make this better */
.suggestion-sentence {
    color: #007bff;
    background-color: #f0f0f0;
    border-radius: 3px;
    border: 2px solid;
    border-color: #f0f0f0;
    width:100%;
    display: block;
    /* -moz-box-shadow:    1px 1px 1px 1px #ccc;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow:         1px 1px 1px 1px #ccc; */

}

.suggestion-sentence:focus {
    color: #007bff;
}

.new-file-icon {
    display: inline-block;
}

.align-self-center {
    line-height: 37px;
}
